<footer class="footer p-2m px-lg-0 py-lg-3">
  <div class="container">
    <div
      class="fw-bold d-flex flex-column flex-lg-row justify-content-between align-items-lg-center"
    >
      <h2 class="ff-sh fs1-2 text-black mb-m">
        <a href="index.html">ALPHABOX+</a>
      </h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="80"
        viewBox="0 0 80 80"
        fill="none"
        class="mb-m"
      >
        <mask
          id="mask0_279_5149"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="80"
          height="80"
        >
          <rect width="80" height="80" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_279_5149)">
          <path
            d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
            fill="black"
          />
        </g>
      </svg>
      <ul
        class="list-unstyled d-flex flex-column flex-lg-row justify-content-center mb-0"
      >
        <li>
          <a href="about_us.html" class="mb-m me-lg-1m">關於我們</a>
        </li>
        <li>
          <a href="product.html" class="mb-m me-lg-1m">產品資訊</a>
        </li>
        <li>
          <a href="FAQ.html" class="mb-m me-lg-1m">常見問題</a>
        </li>
        <li>
          <a href="#" class="mb-m me-lg-1m">隱私政策</a>
        </li>
      </ul>
    </div>
    <div class="mt-lg-n1s">
      <p class="text-black fw-bold mb-0">Copyright © 2023 Hexschool.</p>
    </div>
  </div>
</footer>
