<footer class="footer p-2m px-lg-0 py-lg-3" data-aos="fade-up">
  <div class="container">
    <div
      class="fw-bold d-flex flex-column flex-lg-row justify-content-between align-items-lg-center"
    >
      <h2 class="ff-sh fs1-2 text-black mb-m">
        <a href="index.html">ALPHABOX+</a>
      </h2>
      <img
        src="/assets/images/icon/emergency_b.svg"
        alt="emergency_b"
        width="80px"
        height="80px"
      />
      <ul
        class="list-unstyled d-flex flex-column flex-lg-row justify-content-center mb-0"
      >
        <li>
          <a href="about_us.html" class="mb-m me-lg-1m">關於我們</a>
        </li>
        <li>
          <a href="product.html" class="mb-m me-lg-1m">產品資訊</a>
        </li>
        <li>
          <a href="FAQ.html" class="mb-m me-lg-1m">常見問題</a>
        </li>
        <li>
          <a href="#" class="mb-m me-lg-1m">隱私政策</a>
        </li>
      </ul>
    </div>
    <div class="mt-lg-n1s">
      <p class="text-black fw-bold mb-0">Copyright © 2023 Hexschool.</p>
    </div>
  </div>
</footer>
