<div class="container">
  <ul
    class="nav justify-content-center py-1 flex-nowrap overflow-x-auto"
    id="productNav"
  >
    <li class="nav-item me-m me-lg-1m">
      <a
        class="product-nav-tag active"
        aria-current="page"
        href="#Diane"
        data-number="0"
        >Diane</a
      >
    </li>
    <li class="nav-item me-m me-lg-1m">
      <a class="product-nav-tag" href="#" data-number="1">Felix</a>
    </li>
    <li class="nav-item me-m me-lg-1m">
      <a class="product-nav-tag" href="#" data-number="2">Karina</a>
    </li>
    <li class="nav-item">
      <a class="product-nav-tag" data-number="3">Vito</a>
    </li>
  </ul>
</div>
