@mixin white-btn {
  @extend .btn;
  @extend .fw-medium;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}

.white-btn {
  @include white-btn;
  &:hover {
    background-color: $main;
  }
}
