.news-arrow {
  right: 0;
  bottom: -48px;
  @include pc {
    right: -64px;
    bottom: 0;
  }
}

.watermark {
  color: rgba(255, 255, 255, 0.04);
  left: -70%;
  bottom: -90px;
  z-index: 0;
  @include pad {
    left: -40%;
    bottom: -290px;
  }
  @include pc {
    left: -20%;
  }
}
