.col-full-3 {
  @include full {
    flex: 0 0 auto;
    width: 25%;
  }
}

.bg-gradient1 {
  @include gradient-y($main-200, $main-800);
  @include pc {
    background-image: url(/assets/images/home_background.png);
    background-size: cover;
  }
}

.bg-gradient2 {
  @include gradient-c($main-500, $black);
}

.bg-gradient3 {
  @include gradient-c($main-600, $black);
}

.bg-gradient4 {
  @include gradient-c($black, $main-600);
}

.bg-gradient5 {
  @include gradient-c1($main-600, $black);
}
