<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact_us</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="pt-3l pt-lg-4 main-section2 border-bottom">
      <div class="container mb-5 mb-lg-10">
        <h2
          class="fs1-2m fs1-lg-4 fw-900 ls-2m ls-lg-3 mb-2m mb-lg-1 text-white"
        >
          聯絡我們
        </h2>
        <div class="row">
          <div class="col-lg-6 offset-lg-1 mb-3l mb-lg-0">
            <p class="text-white mb-2 mb-lg-4">
              您的意見與需求對我們至關重要！如果您對 ALPHABOX+
              有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24
              小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。
            </p>
            <p class="fw-bold text-white mb-2 mb-lg-4">
              我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！
            </p>
            <form class="section2">
              <div class="form-floating mb-1">
                <input
                  type="text"
                  class="form-control fw-bold fs1-1 fs1-lg-1s rounded-0"
                  name="contactName"
                  id="contactName"
                  placeholder="姓名"
                  required
                />
                <label for="contactName" class="fw-bold fs1-1 fs1-lg-1s"
                  >姓名</label
                >
              </div>
              <div class="form-floating mb-1">
                <input
                  type="email"
                  class="form-control fw-bold fs1-1 fs1-lg-1s rounded-0"
                  namq="contactEmail"
                  id="contactEmail"
                  placeholder="Email"
                  required
                />
                <label
                  for="contactEmail"
                  class="fw-bold fs1-1 fs1-lg-1s text-uppercase"
                  >Email</label
                >
              </div>
              <div class="form-floating mb-1">
                <input
                  type="tel"
                  class="form-control fw-bold fs1-1 fs1-lg-1s rounded-0"
                  name="contactPhone"
                  id="contactPhone"
                  placeholder="聯絡電話"
                  required
                />
                <label for="contactPhone" class="fw-bold fs1-1 fs1-lg-1s"
                  >聯絡電話</label
                >
              </div>
              <div class="form-floating mb-1">
                <textarea
                  class="form-control fw-bold fs1-1 fs1-lg-1s rounded-0"
                  placeholder="Leave a comment here"
                  name="contactText"
                  id="contactText"
                  style="height: 120px"
                ></textarea>
                <label
                  for="contactText"
                  class="fw-bold fs1-1 fs1-lg-1s text-uppercase"
                  >Comments</label
                >
              </div>
              <button type="submit" class="blue-btn w1-100">
                <span class="material-symbols-outlined"> point_scan </span>送出
              </button>
            </form>
          </div>
          <div class="col-lg-4 offset-lg-1">
            <div class="mb-2m">
              <p class="fs1-1 text-white text-opacity-50 mb-0">客服時間</p>
              <p class="mb-0">
                <a href="#">週一至週五 09:00-18:00</a>
              </p>
            </div>
            <div class="mb-2m">
              <p class="fs1-1 text-white text-opacity-50 mb-0">聯絡地址</p>
              <address class="mb-0">
                <a href="https://goo.gl/maps/2j5u7oehZmgsJker6" target="_blank"
                  >高雄市新興區民生一路 56 號</a
                >
              </address>
            </div>
            <div>
              <p class="fs1-1 text-white text-opacity-50 mb-0">聯絡方式</p>
              <address>
                <a href="tel:+886-2-12345678">+886-2-12345678</a>
                <a href="mailto:customer@alphabox.com"
                  >mailto:customer@alphabox.com</a
                >
              </address>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top">
        <div class="container">
          <ul
            class="list-unstyled d-flex flex-column flex-lg-row justify-content-end pt-2m pb-2m py-lg-0 mb-0"
          >
            <li class="mb-1 mb-lg-0 me-lg-4m">
              <a href="#" class="fw-ln pt-lg-2m pb-lg-3">INSTAGRAM</a>
            </li>
            <li class="mb-1 mb-lg-0 me-lg-4m">
              <a href="#" class="fw-ln pt-lg-2m pb-lg-3">FACEBOOK</a>
            </li>
            <li class="mb-1 mb-lg-0 me-lg-4m">
              <a href="#" class="fw-ln pt-lg-2m pb-lg-3">TWITTER</a>
            </li>
            <li>
              <a href="#" class="fw-ln pt-lg-2m pb-lg-3">LINKEDIN</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <section class="pt-3l pt-lg-10 pb-lg-7m">
      <div class="container mb-1m mb-lg-5">
        <h2
          class="fs1-2m fs1-lg-3 fw-bold fw-lg-900 ls-2m ls-lg-4 mb-2m mb-lg-4 text-black"
        >
          選擇自己要的角色
        </h2>
        <h3 class="fs1-1m fs1-lg-3 fw-900">
          <span class="me-m me-lg-1m" style="color: #6e01f8">20K+</span>
          <span class="text-black">使用者喜歡我們的服務</span>
        </h3>
      </div>
      <div>
        <div class="position-md-relative d-md-flex">
          <div
            class="horizontal-image1 w1-md-75 position-md-absolute"
            style="z-index: -1"
          >
            <div class="container-fluid">
              <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 d-md-none h-100">
                <a href="product.html" class="w1-100"> Diane </a>
              </h3>
            </div>
          </div>
          <div
            class="container d-none d-md-flex align-items-center"
            style="height: 232px"
          >
            <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 w1-100">
              <a href="product.html" class="w1-100"> Diane </a>
            </h3>
          </div>
        </div>
        <div
          class="position-md-relative d-md-flex justify-content-end text-end"
        >
          <div
            class="horizontal-image2 w1-md-75 position-md-absolute"
            style="z-index: -1"
          >
            <div class="container-fluid">
              <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 d-md-none h-100">
                <a href="product.html" class="w1-100"> Felix </a>
              </h3>
            </div>
          </div>
          <div
            class="container d-none d-md-flex align-items-center"
            style="height: 232px"
          >
            <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 w1-100">
              <a href="product.html" class="w1-100"> Felix </a>
            </h3>
          </div>
        </div>
        <div class="position-md-relative d-md-flex">
          <div
            class="horizontal-image3 w1-md-75 position-md-absolute"
            style="z-index: -1"
          >
            <div class="container-fluid">
              <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 d-md-none h-100">
                <a href="product.html" class="w1-100"> Karina </a>
              </h3>
            </div>
          </div>
          <div
            class="container d-none d-md-flex align-items-center"
            style="height: 232px"
          >
            <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 w1-100">
              <a href="product.html" class="w1-100"> Karina </a>
            </h3>
          </div>
        </div>
        <div
          class="position-md-relative d-md-flex justify-content-end text-end"
        >
          <div
            class="horizontal-image4 w1-md-75 position-md-absolute"
            style="z-index: -1"
          >
            <div class="container-fluid">
              <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 d-md-none h-100">
                <a href="product.html" class="w1-100"> Vito </a>
              </h3>
            </div>
          </div>
          <div
            class="container d-none d-md-flex align-items-center"
            style="height: 232px"
          >
            <h3 class="ff-sh fs1-2m fs1-md-4 mb-0 w1-100">
              <a href="product.html" class="w1-100"> Vito </a>
            </h3>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
