<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main
      style="background-color: #e9e2f3"
      class="section2 pt-3l pb-5 pt-lg-4 pb-lg-7m"
    >
      <div class="container">
        <h2
          class="fs1-2m fs1-lg-3 fw-bold fw-lg-900 ls-2m ls-lg-3 mb-2m mb-lg-4 text-black"
        >
          FAQ
        </h2>
        <div class="row">
          <ul
            class="list-unstyled col-lg-4 pt-1m pt-lg-2m"
            style="border-top: 2px dotted white"
          >
            <li class="fs1-1 fw-medium mb-1">
              <a href="#">ALPHABOX+ 使用問題</a>
            </li>
            <li class="fs1-1 fw-medium mb-1">
              <a href="#">訂購與運送</a>
            </li>
            <li class="fs1-1 fw-medium mb-1">
              <a href="#">產品保養與維修</a>
            </li>
          </ul>
          <div
            class="col-lg-7 pt-2 pt-lg-2m"
            style="border-top: 2px dotted white"
          >
            <ul class="accordion list-unstyled" id="accordionFAQ">
              <li
                class="accordion-item pb-2 pb-lg-2m"
                style="border-bottom: 2px dotted white"
              >
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button p-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    ALPHABOX+ 的使用方式是什麼？
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordion1"
                >
                  <div class="accordion-body pt-1 pb-0">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li
                class="accordion-item py-2 py-lg-2m"
                style="border-bottom: 2px dotted white"
              >
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed py-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    ALPHABOX+ 需要什麼樣的環境來使用？
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordion1"
                >
                  <div class="accordion-body pt-1 pb-0">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li
                class="accordion-item py-2 py-lg-2m"
                style="border-bottom: 2px dotted white"
              >
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed py-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    ALPHABOX+ 支援哪些語言？
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordion1"
                >
                  <div class="accordion-body pt-1 pb-0">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li
                class="accordion-item py-2 py-lg-2m"
                style="border-bottom: 2px dotted white"
              >
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed py-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    ALPHABOX+ 的軟體更新方式為何？
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordion1"
                >
                  <div class="accordion-body pt-1 pb-0">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li
                class="accordion-item py-2 py-lg-2m"
                style="border-bottom: 2px dotted white"
              >
                <h2 class="accordion-header" id="headingFive">
                  <button
                    class="accordion-button collapsed py-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    購買 ALPHABOX+ 後的售後服務如何？
                  </button>
                </h2>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFive"
                  data-bs-parent="#accordion1"
                >
                  <div class="accordion-body pt-1 pb-0">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li
                class="accordion-item py-2 py-lg-2m"
                style="border-bottom: 2px dotted white"
              >
                <h2 class="accordion-header" id="headingSix">
                  <button
                    class="accordion-button collapsed py-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSix"
                    aria-expanded="false"
                    aria-controls="collapseSix"
                  >
                    ALPHABOX+ 與其他智能家居設備的相容性如何？
                  </button>
                </h2>
                <div
                  id="collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingSix"
                  data-bs-parent="#accordion1"
                >
                  <div class="accordion-body pt-1 pb-0">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
