<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-gradient1">
      <div class="pt-2s pt-full-3m">
        <div class="container">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="col-12 col-lg-8 position-relative">
              <h3
                class="border-top fw-bold fs-1 mb-2 pt-m position-full-absolute w-full-25"
                style="left: calc(100% + 32px)"
                data-aos="fade-up"
              >
                ALPHABOX+ STUDIO
              </h3>
              <div
                class="d-flex flex-column justify-content-center align-items-center"
                data-aos="fade-up"
              >
                <img
                  src="/assets/images/circle.png"
                  class="img-fluid mb-2 mb-xl-3m"
                  width="196px"
                  height="196px"
                  alt="text-circle"
                  style="animation: rotateText 10s linear infinite"
                />
                <div class="mb-1m">
                  <h2 class="home-title">
                    ALPHABOX<span class="ls-0">+</span>
                  </h2>
                  <h3 class="home-subtitle">
                    擁抱未來科技，專屬您的3D立體投影陪伴機器人
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container main-container">
          <div class="row gx-xxl-2 gy-1 gy-lg-2 position-relative z-1">
            <div
              class="col-md-6 col-xxl-3 col-full-3 mt-full-n4 position-relative"
              data-aos="fade-up"
            >
              <h3
                class="fs-1 border-bottom pb-m d-none d-full-block position-absolute"
                style="top: -3.5rem"
              >
                <a href="news.html">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
              </h3>
              <div class="img-card1 pt-1">
                <a href="product.html#Diane">
                  <h3 class="ff-sh fs-2 text-white text-center">Diane</h3>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-xxl-3 col-full-3" data-aos="fade-up">
              <div class="img-card2 pt-1">
                <a href="#">
                  <h3 class="ff-sh fs-2 text-white text-center">Felix</h3>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-xxl-3 col-full-3" data-aos="fade-up">
              <div class="img-card3 pt-1">
                <a href="#">
                  <h3 class="ff-sh fs-2 text-white text-center">Karina</h3>
                </a>
              </div>
            </div>
            <div
              class="col-md-6 col-xxl-3 col-full-3 mt-full-n4 position-relative"
              data-aos="fade-up"
            >
              <h3
                class="fs-1 pb-m d-none d-full-block position-absolute"
                style="top: -3.5rem; letter-spacing: 1.6px; color: #ad93cf"
              >
                Copyright © 2023 Hexschool.
              </h3>
              <div class="img-card4 pt-1">
                <a href="#">
                  <h3 class="ff-sh fs-2 text-white text-center">Vito</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section
      class="banner bg-gradient2 position-relative z-0 pt-2 pb-3l pb-lg-3s"
    >
      <figure
        class="banner-img col-12 col-lg-6 position-absolute top-0"
        data-aos="fade-up"
      ></figure>
      <!-- <div style="height: 104px"></div> -->
      <div class="container main-container">
        <div class="rowbar1 mb-1 mb-lg-m" data-aos="fade-up"></div>
        <div class="position-relative mb-2" data-aos="fade-up">
          <h2
            class="text-white fs1-1m fs1-lg-3 ls-1m ls-lg-3 mb-1s mb-lg-1 overflow-x-auto"
          >
            什麼是<br />
            ALPHABOX<span class="ls-0">+</span>
          </h2>
          <div
            class="row align-items-center justify-content-between g-0"
            data-aos="fade-up"
          >
            <div class="col-md-1 d-none d-md-block">
              <div class="swiper-button-prev">
                <img
                  src="/assets/images/arrow.png"
                  alt=""
                  class="img-fluid rotate"
                />
              </div>
            </div>
            <div class="col-md-9">
              <div class="swiper sw1">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <figure
                      class="d-flex flex-column justify-content-end justify-content-lg-center mb-0"
                    >
                      <figcaption class="text-lg-end fw-bold mx-1 mx-lg-2m">
                        <h3 class="ff-sh fs1-lg-6 mb-0">01</h3>
                        <h4 class="ls-1m ls-lg-2 fs1-1m fs1-lg-2 mb-1">
                          立體投影技術
                        </h4>
                        <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure
                      class="d-flex flex-column justify-content-end justify-content-lg-center mb-0"
                    >
                      <figcaption class="text-lg-end fw-bold mx-1 mx-lg-2m">
                        <h3 class="ff-sh fs1-lg-6 mb-0">02</h3>
                        <h4 class="ls-1m ls-lg-2 fs1-1m fs1-lg-2 mb-1">
                          立體投影技術
                        </h4>
                        <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure
                      class="d-flex flex-column justify-content-end justify-content-lg-center mb-0"
                    >
                      <figcaption class="text-lg-end fw-bold mx-1 mx-lg-2m">
                        <h3 class="ff-sh fs1-lg-6 mb-0">03</h3>
                        <h4 class="ls-1m ls-lg-2 fs1-1m fs1-lg-2 mb-1">
                          立體投影技術
                        </h4>
                        <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
              <div class="swiper-button-next">
                <img
                  src="/assets/images/arrow.png"
                  alt="arrow_right"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="rowbar1" data-aos="fade-up"></div>
      </div>
    </section>

    <section class="bg-gradient3 pt-3l pb-5 pt-lg-10 pb-lg-2m">
      <div class="container">
        <h2
          class="text-center text-lg-start fs1-2m fs1-lg-3 fw-bold ls-2m ls-lg-3 pb-2 pb-lg-2m"
          data-aos="fade-up"
        >
          最新消息
        </h2>
        <div class="row mb-2m mb-lg-5">
          <div
            class="d-flex flex-wrap justify-content-lg-between py-2 py-lg-2m border-bottom border-top"
            data-aos="fade-up"
          >
            <div class="fw-bold col-lg-9">
              <div class="mb-m">
                <img
                  src="/assets/images/icon/emergency_w.svg"
                  alt="emergency_w"
                  class="align-bottom me-1"
                  width="24px"
                  height="24px"
                />
                <time class="ls-1">2023.06.30</time>
              </div>
              <h3 class="fs1-1 ls-1m mb-l">產品升級公告</h3>
              <p>
                榮幸地宣布，ALPHABOX+
                已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
              </p>
            </div>
            <div class="col-lg-2 d-flex justify-content-end align-items-center">
              <a href="news1.html">
                <img
                  src="/assets/images/icon/line_end_arrow_notch.svg"
                  alt="arrow_notch"
                />
              </a>
            </div>
          </div>
          <div
            class="col-lg-6 py-2 py-lg-2m border-bottom border-end1-lg"
            data-aos="fade-up"
          >
            <div class="fw-bold col-lg-9">
              <div class="mb-m">
                <img
                  src="/assets/images/icon/emergency_w.svg"
                  alt="emergency_w"
                  class="align-bottom me-1"
                  width="24px"
                  height="24px"
                />
                <time class="ls-1">2023.06.30</time>
              </div>
              <h3 class="fs1-1 ls-1m mb-l">限時優惠活動</h3>
              <p>
                為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+
                的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
              </p>
            </div>
            <div class="col-lg-2 d-flex align-items-center">
              <a href="#">
                <img
                  src="/assets/images/icon/line_end_arrow_notch.svg"
                  alt="arrow_notch"
                  width="90px"
                  height="24px"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-6 py-2 py-lg-2m border-bottom" data-aos="fade-up">
            <div class="fw-bold col-lg-9">
              <div class="mb-m">
                <img
                  src="/assets/images/icon/emergency_w.svg"
                  alt="emergency_w"
                  class="align-bottom me-1"
                  width="24px"
                  height="24px"
                />
                <time class="ls-1">2023.04.18</time>
              </div>
              <h3 class="fs1-1 ls-1m mb-l">新功能上線</h3>
              <p>
                為使您的 ALPHABOX+
                更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
              </p>
            </div>
            <div class="col-lg-2 d-flex align-items-center">
              <a href="#">
                <img
                  src="/assets/images/icon/line_end_arrow_notch.svg"
                  alt="arrow_notch"
                  width="90px"
                  height="24px"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-center align-items-center mb-lg-6"
          data-aos="fade-up"
        >
          <div class="circle1">
            <div class="fw-bold">
              <a href="news.html" class="position-relative z-1 text-white"
                >查看更多</a
              >
            </div>
            <div class="text text2">
              <p class="mb-0">ALPHABOX+ALPHABOX+</p>
            </div>
          </div>
        </div>
        <div class="d-none d-lg-block text-end" data-aos="fade-up">
          <p>為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        </div>
      </div>
    </section>

    <section class="bg-gradient4 pt-3l pb-5 pt-lg-10 pb-lg-2m">
      <div class="container">
        <div class="row mb-1 mb-lg-1m">
          <div class="col-lg-5" data-aos="fade-up">
            <h2 class="fs1-2m fs1-lg-3 fw-bold ls-2m ls-lg-3 mb-1">使用分享</h2>
            <div class="mb-1m mb-lg-2m">01 — 04</div>
            <p class="d-lg-none">
              展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
            </p>
            <div>
              <img src="/assets/images/icon/emergency_w.svg" alt="emergency" />
            </div>
          </div>
          <div class="col-lg-7 d-none d-lg-block">
            <p class="mb-0 mt-l" data-aos="fade-up">
              展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
            </p>
          </div>
        </div>
        <div>
          <div class="swiper sw2" data-aos="fade-up">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div
                  class="bg-main-400 p-1m p-lg-2m fw-bold a11 d-flex flex-column justify-content-between"
                >
                  <div>
                    <div class="mb-2">
                      <span>Zona</span>
                      <img
                        class="mx-m"
                        src="/assets/images/icon/Ellipse 17.svg"
                        alt="Ellipse_w8"
                        width="8px"
                        height="8px"
                      />
                      <span>Taipei</span>
                    </div>
                    <p>
                      ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                  </div>
                  <div>
                    <img
                      src="/assets/images/icon/Ellipse 17.svg"
                      alt="Ellipse_w16"
                      class="me-1"
                    />
                    <img
                      src="/assets/images/icon/Ellipse 17.svg"
                      alt="Ellipse_w16"
                      class="me-1"
                    />
                    <span>ALPHABOX+ Dianne</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="bg-white text-black p-1m p-lg-2m fw-bold a11 d-flex flex-column justify-content-between"
                >
                  <div>
                    <div class="mb-2">
                      <span>Lin</span>
                      <img
                        class="mx-m"
                        src="/assets/images/icon/Ellipse 10.svg"
                        alt="Ellipse_b8"
                        width="8px"
                        height="8px"
                      />
                      <span>Chiayi</span>
                    </div>
                    <p>
                      非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                    </p>
                  </div>
                  <div>
                    <img
                      src="/assets/images/icon/Ellipse 10.svg"
                      alt="Ellipse_b16"
                      class="me-1"
                    />
                    <img
                      src="/assets/images/icon/Ellipse 10.svg"
                      alt="Ellipse_b16"
                      class="me-1"
                    />
                    <span>ALPHABOX+ Felix</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="bg-main-400 p-1m p-lg-2m fw-bold a11 d-flex flex-column justify-content-between"
                >
                  <div>
                    <div class="mb-2">
                      <span>云</span>
                      <img
                        class="mx-m"
                        src="/assets/images/icon/Ellipse 17.svg"
                        alt="Ellipse_w8"
                        width="8px"
                        height="8px"
                      />
                      <span>Taipei</span>
                    </div>
                    <p>
                      我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                      ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                    </p>
                  </div>
                  <div>
                    <img
                      src="/assets/images/icon/Ellipse 17.svg"
                      alt="Ellipse_w16"
                      class="me-1"
                    />
                    <img
                      src="/assets/images/icon/Ellipse 17.svg"
                      alt="Ellipse_w16"
                      class="me-1"
                    />
                    <span>ALPHABOX+ Dianne</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="bg-white text-black p-1m p-lg-2m fw-bold a11 d-flex flex-column justify-content-between"
                >
                  <div>
                    <div class="mb-2">
                      <span>Zichi</span>
                      <img
                        class="mx-m"
                        src="/assets/images/icon/Ellipse 10.svg"
                        alt="Ellipse_b8"
                        width="8px"
                        height="8px"
                      />
                      <span>Kaohsiung</span>
                    </div>
                    <p>
                      讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                    </p>
                  </div>
                  <div>
                    <img
                      src="/assets/images/icon/Ellipse 10.svg"
                      alt="Ellipse_b16"
                      class="me-1"
                    />
                    <img
                      src="/assets/images/icon/Ellipse 10.svg"
                      alt="Ellipse_b16"
                      class="me-1"
                    />
                    <span>ALPHABOX+ Vito</span>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="d-none d-lg-flex flex-wrap align-items-center mt-3 mb-8m"
            >
              <div class="col-8">
                <!-- 加上 position-static 將滾動條的絕對定位設定覆蓋 -->
                <div class="swiper-scrollbar position-static"></div>
              </div>
              <div class="col-1">
                <p class="mb-0 text-white">SCROLL</p>
              </div>
            </div>
            <div class="d-none d-lg-block" data-aos="fade-up">
              <p class="mb-0">
                若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-main-700 pt-3l pb-5 py-lg-9">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h2
              class="fs1-2m fs1-lg-3 fw-bold ls-2m ls-lg-3 pb-l pb-lg-1s"
              data-aos="fade-up"
            >
              聯絡我們
            </h2>
            <div
              class="d-flex align-items-center mb-2m mb-lg-3m"
              data-aos="fade-up"
            >
              <img
                src="/assets/images/icon/Ellipse 17.svg"
                alt="Ellipse_w8"
                width="8px"
                height="8px"
              />
              <div
                style="border: 6px solid white; width: 124px; height: 0"
                class="rounded-pill ms-m"
              ></div>
            </div>
            <p class="mb-s" data-aos="fade-up">讓科技成為您的最佳夥伴</p>
            <p data-aos="fade-up">立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col-lg-7" data-aos="fade-up">
            <div class="mb-1">
              <img
                src="/assets/images/icon/emergency_w.svg"
                alt="emergency_w"
              />
            </div>
            <form class="text-main-700">
              <div class="form-floating mb-1">
                <input
                  type="email"
                  class="form-control fw-bold fs1-1 fs1-lg-1s rounded-0"
                  name="indexEmail"
                  id="indexEmail"
                  placeholder="Email"
                  required
                />
                <label
                  for="floatingInput2"
                  class="fw-bold fs1-1 fs1-lg-1s text-uppercase"
                  >Email</label
                >
              </div>
              <div class="form-floating mb-1">
                <textarea
                  class="form-control fw-bold fs1-1 fs1-lg-1s rounded-0"
                  placeholder="Leave a comment here"
                  name="indexText"
                  id="indexText"
                  style="height: 120px"
                ></textarea>
                <label
                  for="indexText"
                  class="fw-bold fs1-1 fs1-lg-1s text-uppercase"
                  >Comments</label
                >
              </div>
              <div class="text-end">
                <button class="blue-btn col-12 col-lg-6">
                  <span class="material-symbols-outlined"> point_scan </span
                  >送出
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="number-card">
      <ol class="list-unstyled d-flex flex-wrap">
        <li class="col-6 col-lg-3" data-aos="fade-up">
          <a href="product.html" class="number-card-1 border-0 rounded-0">
            <h4
              class="ff-sh italic text-white d-flex flex-column align-items-center fs1-1m fs1-md-2 mb-18 mb-md-80"
            >
              <span class="ff-sec fs-m fs-md-l fw-light mb-1 mb-md-1s">1</span>
              Diane
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h1 fw-bold mb-0">知識型</h5>
                <p class="mb-0">學術領導/知識分享/智能問答</p>
              </div>
              <img
                src="/assets/images/arrow.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3" data-aos="fade-up">
          <a href="product.html" class="number-card-2 border-0 rounded-0">
            <h4
              class="ff-sh italic text-white d-flex flex-column align-items-center fs1-1m fs1-md-2 mb-18 mb-md-80"
            >
              <span class="ff-sec fs-m fs-md-l fw-light mb-1 mb-md-1s">2</span>
              Felix
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h1 fw-bold mb-0">娛樂型</h5>
                <p class="mb-0">音樂播放/語音互動/遊戲陪伴</p>
              </div>
              <img
                src="/assets/images/arrow.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3" data-aos="fade-up">
          <a href="product.html" class="number-card-3 border-0 rounded-0">
            <h4
              class="ff-sh italic text-white d-flex flex-column align-items-center fs1-1m fs1-md-2 mb-18 mb-md-80"
            >
              <span class="ff-sec fs-m fs-md-l fw-light mb-1 mb-md-1s">3</span>
              Karina
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h1 fw-bold mb-0">生活型</h5>
                <p class="mb-0">健康提醒/日程安排/智能家居</p>
              </div>
              <img
                src="/assets/images/arrow.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3" data-aos="fade-up">
          <a href="product.html" class="number-card-4 border-0 rounded-0">
            <h4
              class="ff-sh italic text-white d-flex flex-column align-items-center fs1-1m fs1-md-2 mb-18 mb-md-80"
            >
              <span class="ff-sec fs-m fs-md-l fw-light mb-1 mb-md-1s">4</span>
              Vito
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h1 fw-bold mb-0">情感型</h5>
                <p class="mb-0">情感識別/心情分析/心靈支持</p>
              </div>
              <img
                src="/assets/images/arrow.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
      </ol>
    </section>
    <%- include('./layout/footer'); -%> <%- include('./layout/aos'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
