<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-black" id="product0">
      <%- include('./layout/productNav'); -%>
      <div class="row gx-0 position-relative">
        <div class="col-lg-6" data-aos="fade-up">
          <div class="swiper sw3">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <figure
                  style="
                    background-image: url(../assets/images/diane_square1.png);
                  "
                  class="mb-0"
                  id="product-Image1"
                ></figure>
              </div>
              <div class="swiper-slide">
                <figure
                  style="
                    background-image: url(../assets/images/diane_square2.png);
                  "
                  id="product-Image2"
                ></figure>
              </div>
            </div>

            <div class="swiper-button-prev">
              <img
                src="/assets/images/icon/arrow_circle_left.svg"
                alt="arrow_circle_left"
              />
            </div>
            <div class="swiper-button-next">
              <img
                src="/assets/images/icon/arrow_circle_right.svg"
                alt="arrow_circle_right"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-1 mb-lg-0" data-aos="fade-up">
          <div
            class="h-100 d-flex flex-column justify-content-lg-center ms-l ms-lg-2m"
          >
            <h2 class="ff-sh fs1-2m fs1-lg-4">Diane</h2>
            <h3 class="fs-1 fw-bold">知識型</h3>
            <p>學術領導/知識分享/智能問答</p>
            <div>
              <a href="login.html">
                <img src="/assets/images/arrow.png" alt="arrow" />
              </a>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="circle">
            <div class="circle-arrow">
              <a href="#product2">
                <img
                  src="/assets/images/icon/arrow_downward.svg"
                  alt="arrow_downward"
                />
              </a>
            </div>
            <div class="text text1">
              <p>ALPHABOX+ALPHABOX+</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section id="product1">
      <div class="container text-black mt-4 mb-5 mt-lg-5 mb-lg-7m">
        <div
          class="d-flex justify-content-between mb-1m mb-lg-2m"
          data-aos="fade-up"
        >
          <h3 class="fw-medium fs1-1s">
            <img
              src="/assets/images/icon/emergency_b.svg"
              alt="emergency_b"
              class="d-line-block"
              width="40px"
              height="40px"
            />
            學術領導/知識分享/智能問答
          </h3>
          <p class="d-none d-lg-block">ALPHABOX+</p>
        </div>
        <div class="col-lg-4 mb-2 mb-lg-7m" data-aos="fade-up">
          <p class="mb-0">
            歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作
            - 3D立體投影機器人 Diane！
          </p>
        </div>
        <div class="row gy-1m gy-lg-6m">
          <div class="col-lg-4" data-aos="fade-up">
            <h4 class="fs1-1 fw-bold mb-1 mb-lg-1m title-hover">
              先進的3D投影技術
            </h4>
            <p class="mb-0">
              Diane 搭載了最新的 3D
              投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！
            </p>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <h4 class="fs1-1 fw-bold mb-1 mb-lg-1m title-hover">
              人性化的互動設計
            </h4>
            <p class="mb-0">
              Diane 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與
              Diane 進行自然、流暢的對話。
            </p>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <h4 class="fs1-1 fw-bold mb-1 mb-lg-1m title-hover">
              豐富的應用場景
            </h4>
            <p class="mb-0">
              無論是家庭娛樂、教育培訓還是商業展示，Diane
              都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。
            </p>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <h4 class="fs1-1 fw-bold mb-1 mb-lg-1m title-hover">高度自主性</h4>
            <p class="mb-0">
              Diane
              具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。
            </p>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <h4 class="fs1-1 fw-bold mb-1 mb-lg-1m title-hover">
              簡單易用的操作界面
            </h4>
            <p class="mb-0">
              Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gradient5 pt-3l pb-5 pt-lg-10 pb-lg-13m" id="product2">
      <div class="container">
        <h2
          class="fs1-2m fs1-lg-3 fw-bold ls-s-1m ls-2m ls-lg-3 mb-1"
          data-aos="fade-up"
        >
          使用分享
        </h2>
        <div class="col-12 col-lg-4" data-aos="fade-up">
          <p class="mb-1m mb-lg-5">
            展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
          </p>
        </div>
        <div class="row gy-1m">
          <div class="col-lg-4" data-aos="fade-up">
            <div
              class="bg-main-400 p-1m p-lg-2m fw-bold a11 d-flex flex-column justify-content-between"
            >
              <div>
                <div class="mb-2">
                  <span>Zichi</span>
                  <img
                    class="mx-m"
                    src="/assets/images/icon/Ellipse 17.svg"
                    alt="Ellipse_w8"
                    width="8px"
                    height="8px"
                  />
                  <span>Kaohsiung</span>
                </div>
                <p>
                  自從家裡有了Diane，孩子們的學習興趣提高了不少，他們都喜歡透過Diane的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！
                </p>
              </div>
              <div>
                <img
                  src="/assets/images/icon/Ellipse 17.svg"
                  alt="Ellipse_w16"
                  class="me-1"
                />
                <img
                  src="/assets/images/icon/Ellipse 17.svg"
                  alt="Ellipse_w16"
                  class="me-1"
                />
                <span>ALPHABOX+ Diane</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <div
              class="bg-white text-black p-1m p-lg-2m fw-bold a11 d-flex flex-column justify-content-between"
            >
              <div>
                <div class="mb-2">
                  <span>Lee</span>
                  <img
                    class="mx-m"
                    src="/assets/images/icon/Ellipse 10.svg"
                    alt="Ellipse_b8"
                    width="8px"
                    height="8px"
                  />
                  <span>Chiayi</span>
                </div>
                <p>
                  自從公司引入 Diane，員工的工作效率提升了很多。Diane
                  不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！
                </p>
              </div>
              <div>
                <img
                  src="/assets/images/icon/Ellipse 10.svg"
                  alt="Ellipse_b16"
                  class="me-1"
                />
                <img
                  src="/assets/images/icon/Ellipse 10.svg"
                  alt="Ellipse_b16"
                  class="me-1"
                />
                <span>ALPHABOX+ Diane</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <div
              class="bg-main-400 p-1m p-lg-2m fw-bold a11 d-flex flex-column justify-content-between"
            >
              <div>
                <div class="mb-2">
                  <span>瑞</span>
                  <img
                    class="mx-m"
                    src="/assets/images/icon/Ellipse 17.svg"
                    alt="Ellipse_w8"
                    width="8px"
                    height="8px"
                  />
                  <span>Taipei</span>
                </div>
                <p>
                  Diane
                  讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Diane給所有的教育工作者！
                </p>
              </div>
              <div>
                <img
                  src="/assets/images/icon/Ellipse 17.svg"
                  alt="Ellipse_w16"
                  class="me-1"
                />
                <img
                  src="/assets/images/icon/Ellipse 17.svg"
                  alt="Ellipse_w16"
                  class="me-1"
                />
                <span>ALPHABOX+ Diane</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%> <%- include('./layout/aos'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
